{% extends '::base.html.twig' %}

{% block body -%}       

    <div class="panel span6 offset1">
        <div class="panel-header">
            <h3>Usuario</h3>
        </div>
        <div class="panel-body">

            <div class="span8 offset1">
                <table class="records_list">
                    <tbody>
                        <tr>
                            <th>Usuario</th>
                            <td>{{ entity.username }}</td>
                        </tr>

                        <tr>
                            <th>Correo</th>
                            <td>{{ entity.email }}</td>
                        </tr>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ entity.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Apellidos</th>
                            <td>{{ entity.apellidos }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ul class="record_actions">

            <i class="icon icon-arrow-left"></i> <a  href="{{ path('usuario') }}">
                Volver
            </a>

            {% if is_granted('ROLE_ADMIN') %}
                <i class="icon icon-edit"></i><a href="{{ path('usuario_edit', { 'id': entity.id }) }}">
                    Editar
                </a>
            {% endif %}

        </ul>
        <div class="span12">
            <img src="{{asset('bundles/entidades/images/user.png')}}">
        </div>
    </div>
{% endblock %}
