{% extends '::base.html.twig' %}

{% block body -%}
  <div class="panel span9">
        <div class="panel-header">
            <h3>Listado de aspectos registrados</h3> 
        </div>
        <div class="panel-body">

            <div class="span12">
    <table id="grid_example">
        <thead>
            <tr>
             
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
               
                <td style="width: 80%">{{ entity.nombre }}</td>
                <td style="width: 20%">
       
                         <ul style="list-style-type: none;">
                         <li> 
                             <i class=" icon-search"></i> <a class="btn-link" href="{{ path('aspectos_show', { 'id': entity.id }) }}">Mostrar</a>

                                        </li>
                                        <li>
                                            <i class=" icon-edit"></i>  <a class="btn-link" href="{{ path('aspectos_edit', { 'id': entity.id }) }}">Editar</a>

                                        </li>
                    
                      
                             <li>
                                            <i class="icon-remove-circle"></i><a id="{{entity.id}}"href="#eliminar_modal" role="button" class="btn-link btn-remove" data-toggle="modal">Eliminar</a>

                                        </li>
                  
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class="pager">
        <li>
            <a href="{{ path('aspectos_new') }}">
               Crear 
            </a>
        </li>
    </ul>
                
          </div>
           </div>    
           </div>    
         <div class="modal fade" id="eliminar_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Confirmar eliminar</h4>
                        </div>
                        <div class="modal-body">
                            ¿Est&aacute; seguro que quiere eliminar el elemento seleccionado?                                                
                        </div>
                        <div class="modal-footer">

                            <!-- /.cambiar esto aki por start y end, borrar el comentario despues de arreglado -->
                            <form method="post" class="text-center" action="">  
                                <input name="_method" value="DELETE" type="hidden">
                                {{ form_widget(delete_form.submit, { 'attr': {                                                               
                                                                'class' : 'btn btn-danger',                                                                                        
                                                                } }) }}
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                {{form(delete_form)}}
                            </form>

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
      
               
                 
               
    {% endblock %}
{% block javascripts %}
    <script>
        
        $('.btn-remove').click(function() {
            var ruta = '{{path('aspectos_delete',{'id': '-1'})}}';
            ruta = ruta.replace('-1', $(this).attr('id'));
            $('form').attr('action', ruta);
        });

        $('[data-toggle="tooltip"]').tooltip();

</script>
{% endblock %}
